<h3>Zaloguj się</h3>

<form action="/login" method="post">
    <input name="username" id="username" type="text" placeholder="Login" />
    <input name="password" id="password" type="password" placeholder="Hasło"/>
    <input type="submit" />
</form>
